.card {
  width: 100%;
  margin: 20px 0;
  padding-top: 10px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

@media (min-width: 992px) {
  .card {
    background: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.card .card-image-container {
  width: 170px;
  margin: 0 auto;
}

.card .card-image-container img {
  width: 100%;
}

@media (min-width: 768px) {
  .card .card-image-container {
    width: 85px;
    min-height: 330px;
    display: flex;
    align-items: center;
  }
}
.card .card-content,
.card .card-footer {
  padding: 0px 20px;
}

.card h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0;
}

.card .card-footer {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .card-footer button {
  cursor: pointer;
  font-size: 1.5rem;
  background: transparent;
  border: none;
}

.card .card-footer i {
  padding-right: 5px;
}